<div class="container">
  <div class="header">
    <div (click)="this.previousMonth()" class="nav">
      <div class="arrow left"></div>
    </div>
    <div class="current-month">{{displayedDate.format("MMMM") + " " + displayedDate.format("YYYY")}}</div>
    <div (click)="this.nextMonth()" class="nav">
      <div class="arrow right"></div>
    </div>
  </div>
  <ng-container>
    <div class="week days">
      <div *ngFor="let i of [].constructor(7); let index = index" class="day">
        <span>{{ mmt(displayedDate).day(index).format("dddd").substr(0, 2)}}</span>
      </div>
    </div>
  </ng-container>

  <ng-container>
    <div *ngFor="let week of weeks" class="week">
      <div class="day" [class.selected]="day && day.selected" [class.disabled]="day && day.disabled" *ngFor="let day of week" (click)="selectDate(day)">{{day && day.date}}</div>
    </div>
  </ng-container>
</div>

<div>
  <p>Selected dates</p>
  <p *ngIf="date">Date: {{mmt(date).format("YYYY-MM-DD")}}</p>
  <p *ngIf="startDate">Start date: {{mmt(startDate).format("YYYY-MM-DD")}}</p>
  <p *ngIf="endDate">End date: {{mmt(endDate).format("YYYY-MM-DD")}}</p>
</div>
